<div class="form-group">
   <label for="title" class="mb-2">Title</label>
   <input type="text" required name="title" id="title" class="form-control mb-4" id="title">
   <label for="description" class="mb-2">Description</label>
   <textarea required id="description" class="form-control mb-4" id="description"></textarea>
   <label for="markdown" class="mb-2">Markdown</label>
   <textarea required id="markdown" class="form-control mb-4" id="markdown"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>